<!doctype html>




  <head>


<html lang="en">
<link rel="stylesheet" href="/static/css/style.css">


<script>
function copyTextBox(textBox) {
  // Get the text field
  var copyText = document.getElementById(textBox);

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Text copied to clipboard");
}

function disableTaskDelete(taskNumber) {
    var inputValue = document.getElementById("taskSystemCheck" + taskNumber).value;  // Define the input element
    var deleteTaskButton = document.getElementById("deleteTaskButton" + taskNumber); // Define the button element
    var deleteStatusText = document.getElementById("deleteStatusText" + taskNumber); // Define the status text element

    if (inputValue.toLowerCase().includes("powerbeacon system")) {
        deleteTaskButton.setAttribute('disabled', true);
        deleteStatusText.style.visibility = 'visible';
    } 
};

function unlockSettings() {
  if (document.getElementById("updateSettings").checked) {
    disableForm(false);
  }
  if (!document.getElementById("updateSettings").checked) {
    disableForm(true);
  }

}

function disableForm(flag) {
  var elements = document.getElementsByClassName("updateSettings");
  for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].readOnly = flag;
    elements[i].disabled = flag;
  }
}

function updateTextarea(value) {
    document.getElementById('installLines').value = value;
}

function unlockUninstall() {
    var uninstallButton = document.getElementById("uninstallButton");
    if (document.getElementById("checkUninstall").checked) {
        uninstallButton.removeAttribute('disabled');
        uninstallButton.classList.add('btn-danger')
    } 
    if (!document.getElementById("checkUninstall").checked) {
        uninstallButton.setAttribute('disabled', true);
        uninstallButton.classList.remove('btn-danger')
    }
}

</script>  




    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <title>PowerBeacon</title>
  </head>


<body style="background-color: #573866">
<!--Navbar Start-->
<div class="container">

<nav class="navbar navbar-dark dark-purple">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
	<span class="navbar-text h2">PowerBeacon</span>
	<a class="navbar-brand" href="/implants"><img src="/static/images/logo_black_nobg.png" width="100" height="100" class="d-inline-block align-center" alt="">
	
	</a>
   
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/selectImplant">Implant Selection<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listeningPosts">Listening Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tools">Tools</a>
      </li>
    </ul>
 
 
  
	
  </div>
</nav>
</div>
<!-- Navbar end-->



<!--Start of Container-->
<p>
<div class="container">

<!-- Flashes and Errors -->
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{error}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}



{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



               {% endfor %}  
         {% endif %}  
{% endwith %}  
<!-- End Flashes and Errors -->


<script>
$(document).ready(function() {
    setTimeout(function() {
        $(".alert").alert('close');
    }, 5000);
});
</script>






<div class="container-fluid text-white rounded p-4 dark-purple" >

<!-- Header Card Start -->

        <div class="row">
        <div class="col-lg-6">
        <h1 class="display-4">{{implant.name}}</h1>
	<p class="h6 m-0"> Notes: {{implant.notes}}</p>
  <br><strong>Callback URL:</strong> {{implant.c2}}
  <br><strong>Implant UUID:</strong> {{implant.UUID}}
  <br><strong>WMI Filter:</strong> {{implant.filter}}
  <br><strong>WMI Consumer:</strong> {{implant.consumer}}
<br><br></br></br></div>
<div class="col-md-auto"></div>        
<div class="col-sm">
        <div class="media float-right">
		<div class="media-body">
         	<p class="h5 float-right"><u>Callback History</p></br></u>
                {% for callback in callbacks[:5] %}
                <p class="h6 float-right">{{ callback.time }}</p><br>
                {% endfor %}
		</div>
		<img class="ml-2 align-self-start" src="/static/images/expand.png" height="40px" width="40px" data-toggle="modal" data-target="#modalCheckIns"></img><span><br><br>
	</div>	</div>

</div>
<button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modalEditImplant">Implant Settings</button>
</div>
<!-- Header Card End -->
</br></br>

<!--Task Button Start-->
<div><p class="h3 text-white"><u>Task Implant</u></p></div>
<div class="card p-2" style="background-color: #240b30;">
         <br>
         <div class="btn-toolbar justify-content-between m-2" role="toolbar">
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalChangeTime">Callback Timing</button>
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalSurvey">Task Survey</button>
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalAddTask">Add Custom Task</button> 
         </div>
</div>
</br>
<!-- Task Buttons End -->

<!--start tab navigation bar -->
</br></br>
<ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
  <li class="nav-item pill-1">
    <a class="nav-link active" id="pills-pending-tab" data-toggle="pill" href="#pills-pendingTasks" role="tab" aria-controls="pills-home" aria-selected="true">Pending Tasks</a>   
  </li>
  <li class="nav-item pill-1">
    <a class="nav-link" id="pills-complete-tab" data-toggle="pill" href="#pills-completedTasks" role="tab" aria-controls="pills-profile" aria-selected="false">Completed Tasks</a>
  </li>
  <li class="nav-itemi pill-1">
    <a class="nav-link" id="pills-data-tab" data-toggle="pill" href="#pills-surveyData" role="tab" aria-controls="pills-contact" aria-selected="false">Survey Data</a>
  </li>
</ul>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="pills-pendingTasks" role="tabpanel" aria-labelledby="pill-pending-tab">
{% if pendingTasks %}

<table class="table table-dark table-hover rounded">
  <thead>
    <tr>
        <th scope="col" class="text-center">Task ID</th>
        <th scope="col" class="text-center">Task Name</th>
    <tr>
  </thead>
  <tbody>

    {% for task in pendingTasks %}

        <tr data-toggle="modal" data-target="#Modal{{task.id}}" onClick = "disableTaskDelete('{{task.id}}')">
            <td class="text-center">{{task.id}}</td>
            <td class="text-center">{{task.notes}}</td>
       </tr>
    {% endfor %}
</table>
{% else %}
<p class="h2 text-white">No Pending Tasks</p></u>
{% endif %}
</div>
  <div class="tab-pane fade" id="pills-completedTasks" role="tabpanel" aria-labelledby="pill-completed-tab">

<table class="table table-dark table-hover rounded">
  <thead>
    <tr>
        <th scople="col" class="text-center">Task ID</th>
        <th scope="col" class="text-center">Task Name</th>
        <th scope="col" class="text-center">Time Completed</th>
    <tr>
  </thead>
  <tbody>

    {% for task in completedTasks %}
        <tr data-toggle="modal" data-target="#completedTasksModal{{task.id}}">
            <td class="text-center">{{task.id}}</td>
            <td class="text-center">{{task.notes}}</td>
            <td class="text-center">{{task.time_complete}}</td>
       </tr>
    {% endfor %}
</table>


</div>
  <div class="tab-pane fade" id="pills-surveyData" role="tabpanel" aria-labelledby="pill-data-tab">


<table class="table table-sm table-dark table-hover rounded">
  <thead>
    <tr>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Time Recieved</th>
        <th scope="col" class="text-center">Survey Notes</th>

    <tr>
  </thead>
  <tbody>

    {% for survey in surveyData %}
        <tr data-toggle="modal" data-target="#surveyModal{{survey.id}}">
            <td class="w-10 p-2 class="text-center">
            <form method="post" target="_blank" action="/displaySurvey">
            <input type="hidden" name="ID" value={{survey.id}} required>
<div class="text-center"><button type="submit" class="btn btn-secondary text-center" value="{{survey.id}}">View</button></div>
            </form>
            </td>
            <td class="text-nowrap text-center align-middle">{{survey.time_delivered}}</td>
            <td class="text-nowrap text-center align-middle">{{survey.details}}</td>
       </tr>
    {% endfor %}
</table>




</div>
</div>
<br><br>


</div><!--End of Primary Card-->

<footer class="footer dark-purple">
  <span class="text-muted float-right">github.com/ninjakilpirate&nbsp&nbsp  </span>
</footer>



<!-- Pending Task Modals -->

{% for task in pendingTasks %}


<!-- PendingTasksModal -->
<div class="modal fade" id="Modal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control" id="taskDetails{{task.id}}" value="{{task.task}}" style="visibility:hidden"></input>
		<input type="hidden" class="form-control" rows="1" value="{{task.notes}}" readonly id="taskSystemCheck{{task.id}}"></input><br>
		<textarea class="form-control" rows="10">{{task.task}}</textarea>
		<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyTextBox('taskDetails{{task.id}}')"></img></a>
		
      </div>
      <div class="modal-footer">
        <form method="post" action="/deleteTask">
        <input type="hidden" name="taskID" value={{task.id}} required></input>
        <small class="text-muted text-left" id="deleteStatusText{{task.id}}" style="visibility:hidden">System tasks cannot be deleted.</small></br>
        <button type="submit" class="btn btn-danger float-right" id="deleteTaskButton{{task.id}}">Delete Task</button>
 

        </form>

 

</div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Pending Tasks Modal -->


<!-- CompletedTasksModal -->
{% for task in completedTasks %}


<div class="modal fade" id="completedTasksModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="completedModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control" id="completedTasks{{task.id}}" value="{{task.task}}" style="visibility:hidden"></input>
		<textarea class="form-control" rows="10">{{task.task}}</textarea>
		<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyTextBox('completedTasks{{task.id}}')"></img></a>
		
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Completed Tasks Modal -->

<!-- Check Ins Modal -->
<div class="modal fade" id="modalCheckIns" tabindex="-1" role="dialog" aria-labelledby="modalCheckIns" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCheckInsTitle">Check In Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-dark table-striped table-bordered table-sm p-0 m-0">
                        <thead>
                        <tr>
                                <th scope="col">Check In Time</th>
                                <th scope="col">Gateway</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for callback in callbacks %}
                            <tr>
                                <td>{{callback.time}}</td>
                                <td>{{callback.gateway}}</td>
                           </tr>
                        {% endfor %}


                        </tbody>
                        </table>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- End Check Ins Modal -->

<div class="modal fade" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="modalAddTask" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddTaskTitle">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="/addTask">
        <div class="form-group">
        <textarea class="form-control" name="task" placeholder="Enter task to run" rows="10"required></textarea></br>
        <input type="text" class="form-control" name="notes" placeholder="Enter task notes" required></input>
	<input type="hidden" class="form-control" name="UUID" required value="{{implant.UUID}}"></input></br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit Task</button>
	</form>
      </div>
    </div>
</div>
</div>
<!-- END Add Task -->


<!-- Begin change time -->
<div class="modal fade" id="modalChangeTime" tabindex="-1" role="dialog" aria-labelledby="modalChangeTime" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChangeTimeTitle">Change Callback Interval</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form method="POST" action="/changeTime">
    
    <select class="form-control" name="interval" id="interval" required/>
        <option value="5">4 hours</option>
        <option value="4">1 Hour</option>
        <option value="3">30 Minutes</option>
        <option value="2">15 Minutes</option>
        <option value="1">1 minute</option>
        <option value="0">15 Seconds</option>
    </select>
    <input type="hidden" class="form-control" name="UUID" required value="{{implant.UUID}}"></input></br>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit Task</button>
        </form>
      </div>
</div>
</div>
</div>
<!-- End Change Time Modal -->

<!-- Begin Survey -->
<div class="modal fade" id="modalSurvey" tabindex="-1" role="dialog" aria-labelledby="modalSurvey" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSurveyTitle">Task Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <p class="h3">Choose optional survey items</p>
    <form method="POST" action="/taskSurvey">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="dirs" name="dirs"></input>
        <label class="form-check-label" for="dirs">
          Get Directory Listings
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="firewall" name="firewall"></input>
        <label class="form-check-label" for="firewall">
          Get Firewall Profiles and NETSH
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mppref" name="mppref"></input>
        <label class="form-check-label" for="mppref">
          Get-MpPreference
        </label>
      </div>
    </br> 
    
    <input type="text" class="form-control" name="notes" required placeholder="Enter Survey Note"></input></br>
    <input type="hidden" class="form-control" name="UUID" required value="{{implant.UUID}}"></input></br>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit Task</button>
        </form>
      </div>
</div>
</div>
</div>
<!-- End Survey Modal -->

</div>


<!-- Start Edit Implant Modal -->

<div class="modal fade" id="modalEditImplant" tabindex="-1" role="dialog" aria-labelledby="modalEditImplant" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditImplantLabel">{{implant.name}} Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form method="post" action="/updateSettings">
<input class="form-control" type="hidden" value="{{implant.UUID}}" name="UUID" readonly></input>
<input class="form-control" type="hidden" value="{{implant.key}}" name="key" readonly></input>
<div class="form-group">
	<label for="updatenotes">Update Notes</label>
        <input type="text" class="form-control" id="updateNotes" value="{{implant.notes}}" name="updateNotes"></input>
</div>
</br>
<hr class="mt-3 mb-2"/>
</br>
<form>
<div class="form-check">
<input class="form-check-input" type="checkbox" value='' id="updateSettings" name="updateSettings" onclick="unlockSettings()"></input>
<label class="form-check-label" for="updateC2">Update All Settings</label>
</div>

<div class="form-group mt-3">
	<label for="updateC2" >Callback Address</label>
	<select class="form-control updateSettings" name="updateC2" id="updateC2" readonly disabled>
		<option selected="selected" value="{{implant.c2}}">{{implant.c2}} (Current)</option>
    {% for lp in C2List %}
		<option value="{{lp.address}}">{{lp.id}} ({{lp.address}})</option>

   {% endfor %}
	</select></br>
	<label for="updateFilter">WMI Filter</label>
	<input class="form-control updateSettings" type="text" value="{{implant.filter}}" name="updateFilter" id="updateFilter" readonly></input></br>
	<label for="updateConsumer">WMI Consumer</label>
	<input class="form-control updateSettings" type="text" value="{{implant.consumer}}" name="updateConsumer" id="updateConsumer" readonly></input>
        <label for="updateInterval">Interval After Update</label>
        <select class="form-control updateSettings" name="interval" id="interval" readonly disabled>
                <option value="5">4 hours</option>
                <option value="4" selected="selected">1 Hour</option>
                <option value="3">30 Minutes</option>
                <option value="2">15 Minutes</option>
                <option value="1">1 minute</option>
                <option value="0">15 Seconds</option></select>
</div>
        </br><button type="submit" class=" btn btn-primary float-right">Save Changes</button>
</form>
<br><br><br>
<hr class="mt-3 mb-2"/>
<label for="installLines">Install Lines</label>
<select class="form-control" id="installChooser" onchange="updateTextarea(this.value)">
        <option value="Choose a beacon interval." selected="selected">Choose</option>
        <option value="{{installLines[5]}}">4 hours</option>
        <option value="{{installLines[4]}}">1 Hour</option>
        <option value="{{installLines[3]}}">30 Minutes</option>
        <option value="{{installLines[2]}}">15 Minutes</option>
        <option value="{{installLines[1]}}">1 minute</option>
        <option value="{{installLines[0]}}">15 Seconds</option>
        <option value="{{installLines[6]}}">Uninstall</option>
</select>



<br>
<textarea class="form-control" rows="5" id="installLines" readonly>Choose a beacon interval.</textarea>
<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyTextBox('installLines')"></img></a>
      
<br><br><br>

<hr class="mt-3 mb-2"/>
    <form id="uninstallImplant" method="post" action="/uninstallImplant" class="form-floating">
        <br><h5>Uninstall Implant </h5>
          <div class="form-check">
          <input type="hidden" value="{{implant.UUID}}" name="UUID"></input>
          <input class="form-check-input" type="checkbox" value='' id="checkUninstall" onclick="unlockUninstall()"></input>
          <label class="form-check-label" for="checkUninstall">Check box to unlock uninstall button.</label>
          </div>
        <button id="uninstallButton" class="form-control button btn-disabled" type="submit" disabled>Task Uninstall</button>
    </form>



<br><br>
<hr class="mt-3 mb-2"/>
    <form id="deleteImplant" method="post" action="/deleteImplant" class="form-floating">
	<br><h5>Delete Implant </h5>
        <small class="text-muted text.danger" id="deleteStatusText">Enter Implant ID (case-sensative) to delete implant. This action cannot be undone.</small>
        <input type="text" class="form-control is-invalid" id="deleteField" name="deleteImplantID">
       <br>  
        <button id="deleteButton" class="form-control button btn-disabled" type="submit" disabled>Delete Implant</button>
    </form>

    <!--
     * This script handles the behavior of the delete field in the implants.html file.
     * It listens for changes in the input field and updates the status text and submit button accordingly.
     -->
    <script>
      const inputField = document.querySelector('#deleteField');
      const statusText = document.querySelector('#deleteStatusText');
      const submitButton = document.querySelector('#deleteButton');

      inputField.addEventListener('input', function () {
        const inputValue = inputField.value;
        if (inputValue === "{{ implant.UUID }}") {
          statusText.textContent = 'Are you sure? This cannot be undone.';
          submitButton.removeAttribute('disabled'); // Enable the submit button
          inputField.classList.remove('is-invalid'); // Remove the 'is-invalid' class
          submitButton.classList.add('btn-danger');
          statusText.classList.add('text-danger');
          statusText.classList.remove('text-muted');
        } else {
          statusText.textContent = 'Enter Implant ID (case-sensitive) to delete implant';
          submitButton.setAttribute('disabled', true); // Disable the submit button
          inputField.classList.add('is-invalid'); // Add the 'is-invalid' class
          submitButton.classList.remove('btn-danger');
          statusText.classList.remove('text-danger');
          statusText.classList.add('text-muted');
        }
      });
    </script>

  </div>
<br><br>
      <div class="modal-footer">
     </div>
    </div>


  </div>
</div>
<!-- End Edit Implant Modal -->
</body>

</html>

