<!doctype html>



  <head>


<html lang="en">

<style>

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #240b30 ;
    color: white
}


/* active (faded) */
.nav-pills .pill-1 .nav-link.active {
    background-color: #212529;
    color: white;
}

.footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
color: maroon;
text-align: center;
background-color: #573866;
}

.dark-purple {
background-color:#240b30
}




</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <title>PowerBeacon</title>
  </head>


<body style="background-color: #573866">

<div class="container">
</div>

<!--Navbar Start!-->
<div class="container">

<nav class="navbar navbar-dark dark-purple">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
	<span class="navbar-text h2">PowerBeacon</span>
	<a class="navbar-brand" href="/implants"><img src="/static/images/logo_black_nobg.png" width="100" height="100" class="d-inline-block align-center" alt="">
	
	</a>
   
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Implants <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Listening Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tools</a>
      </li>
    </ul>
 
 
  
	
  </div>
</nav>
</div>
<!-- Navbar end!-->



<!--Start of Container-->
<p>
<div class="container">

<!-- Flashes and Errors --!>
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{error}}</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}



{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



               {% endfor %}  
         {% endif %}  
{% endwith %}  
<!-- End Flashes and Errors --!>

<!-- Auto Close Alerts Script 
<script>
$(document).ready(function() {
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);
});
</script>

#I'm not sure I like the auto close --!>




<div class="container-fluid text-white rounded p-4 dark-purple " >

<!-- Header Card Start --!>
        <div class="row">
        <div class="col-lg-6">
        <h1 class="display-4">{{implantDetails[0][0]}}</h1>
	<p class="h6 m-0"> Notes: {{implantDetails[0][2]}}</p>
  <br><strong>Callback URL:</strong> {{implantDetails[0][3]}}
  <br><strong>WMI Filter:</strong> {{implantDetails[0][4]}}
  <br><strong>WMI Consumer:</strong> {{implantDetails[0][5]}}
<br><br></br></br></div>
<div class="col-md-auto"></div>        
<div class="col-sm">
        <div class="media float-right">
		<div class="media-body">
	<p class="h5 float-right"><u>Check In History</p></br></u>
		<p class="h6 float-right">{{checkIns[0][3]}}</p></br>
		<p class="h6 float-right">{{checkIns[1][3]}}</p></br>
		<p class="h6 float-right">{{checkIns[2][3]}}</p></br>
		<p class="h6 float-right">{{checkIns[3][3]}}</p></br>
		<p class="h6 float-right">{{checkIns[4][3]}}</p></br></br></br>

		</div>
		<img class="ml-2 align-self-start" src="/static/images/expand.png" height="40px" width="40px" data-toggle="modal" data-target="#modalCheckIns"></img><span><br><br>
	</div>	</div>

</div>
<button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modalEditImplant">Implant Settings</button>
</div>
<!-- Header Card End --!>
</br></br>

<!--Task Button Start--!>
<div><p class="h3 text-white"><u>Task Implant</u></p></div>
<div class="card p-2" style="background-color: #240b30;">
         <br>
         <div class="btn-toolbar justify-content-between m-2" role="toolbar">
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalChangeTime">Callback Timing</button>
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalSurvey">Task Survey</button>
         <button class="btn btn-dark" data-toggle="modal" data-target="#modalAddTask">Add Custom Task</button> 
         </div>
</div>
</br>
<!-- Task Buttons End --!>

<!--start tab navigation bar --!>
</br></br>
<ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
  <li class="nav-item pill-1">
    <a class="nav-link active" id="pills-pending-tab" data-toggle="pill" href="#pills-pendingTasks" role="tab" aria-controls="pills-home" aria-selected="true">Pending Tasks</a>   
  </li>
  <li class="nav-item pill-1">
    <a class="nav-link" id="pills-complete-tab" data-toggle="pill" href="#pills-completedTasks" role="tab" aria-controls="pills-profile" aria-selected="false">Completed Tasks</a>
  </li>
  <li class="nav-itemi pill-1">
    <a class="nav-link" id="pills-data-tab" data-toggle="pill" href="#pills-surveyData" role="tab" aria-controls="pills-contact" aria-selected="false">Survey Data</a>
  </li>
</ul>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="pills-pendingTasks" role="tabpanel" aria-labelledby="pill-pending-tab">
{% if pendingTasks %}

<table class="table table-dark table-hover rounded">
  <thead>
    <tr>
        <th scope="col" class="text-center">Task ID</th>
        <th scope="col" class="text-center">Task Name</th>
    <tr>
  </thead>
  <tbody>

    {% for line in pendingTasks %}
        <tr data-toggle="modal" data-target="#Modal{{line[0]}}">
            <td class="text-center">{{line[0]}}</td>
            <td class="text-center">{{line[3]}}</td>
       </tr>
    {% endfor %}
</table>
{% else %}
<p class="h2 text-white">No Pending Tasks</p></u>
{% endif %}
</div>
  <div class="tab-pane fade" id="pills-completedTasks" role="tabpanel" aria-labelledby="pill-completed-tab">

<table class="table table-dark table-hover rounded">
  <thead>
    <tr>
        <th scople="col" class="text-center">Task ID</th>
        <th scope="col" class="text-center">Task Name</th>
        <th scope="col" class="text-center">Time Completed</th>
    <tr>
  </thead>
  <tbody>

    {% for line in completedTasks %}
        <tr data-toggle="modal" data-target="#completedTasksModal{{line[0]}}">
            <td class="text-center">{{line[0]}}</td>
            <td class="text-center">{{line[3]}}</td>
            <td class="text-center">{{line[4]}}</td>
       </tr>
    {% endfor %}
</table>


</div>
  <div class="tab-pane fade" id="pills-surveyData" role="tabpanel" aria-labelledby="pill-data-tab">


<table class="table table-sm table-dark table-hover rounded">
  <thead>
    <tr>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Time Recieved</th>
        <th scope="col" class="text-center">Survey Notes</th>

    <tr>
  </thead>
  <tbody>

    {% for line in surveyData %}
        <tr data-toggle="modal" data-target="#surveyModal{{line[0]}}">
            <td class="w-10 p-2 class="text-center">
            <form method="post" target="_blank" action="/displaySurvey">
            <input type="hidden" name="ID" value={{line[0]}} required>
<div class="text-center"><button type="submit" class="btn btn-secondary text-center" value="{{line[0]}}">View</button></div>
            </form>
            </td>
            <td class="text-nowrap text-center"">{{line[2]}}</td>
            <td class="text-nowrap text-center">{{line[3]}}</td>
       </tr>
    {% endfor %}
</table>




</div>
</div>
<br><br>




</div><!--End of Primary Card--!>

<footer class="footer dark-purple">
    <span class="text-muted float-right">github.com/ninjakilpirate&nbsp&nbsp  </span>
</footer>



<!-- Pending Task Modals -->

{% for line in pendingTasks %}

<script>
function copyTask{{line[0]}}() {
  // Get the text field
  var copyText = document.getElementById("taskDetails{{line[0]}}");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Text copied to clipboard");
}
</script>  

<!-- PendingTasksModal -->
<div class="modal fade" id="Modal{{line[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control" id="taskDetails{{line[0]}}" value="{{line[2]}}" style="visibility:hidden"></input>
		<input type="hidden" class="form-control" rows="1" value="{{line[3]}}" readonly id="taskSystemCheck{{line[0]}}"></input><br>
		<textarea class="form-control" rows="10">{{line[2]}}</textarea>
		<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyTask{{line[0]}}()"></img></a>
		
      </div>
      <div class="modal-footer">
        <form method="post" action="/deleteTask">
        <input type="hidden" name="taskID" value={{line[0]}} required></input>
        <button type="submit" class="btn btn-danger" id="deleteTaskButton{{line[0]}}" style="visibility:hidden">Delete Task</button>
        </form>

<!-- Remove button if system task --!>
<script>
window.onload = function() {
  var inputValue = document.getElementById('taskSystemCheck{{line[0]}}').value;
  if (inputValue.toLowerCase().includes("system")) {
    document.getElementById('deleteTaskButton{{line[0]}}').style.visibility = 'hidden';
  } else {
    document.getElementById('deleteTaskButton{{line[0]}}').style.visibility = 'visible';
  }
};

    </script>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Pending Tasks Modal --!>


<!-- CompletedTasksModal -->
{% for line in completedTasks %}

<script>
function copyCompletedTask{{line[0]}}() {
  // Get the text field
  var copyText = document.getElementById("completedTasks{{line[0]}}");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Text copied to clipboard");
}
</script>

<div class="modal fade" id="completedTasksModal{{line[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="completedModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control" id="completedTasks{{line[0]}}" value="{{line[2]}}" style="visibility:hidden"></input>
		<textarea class="form-control" rows="10">{{line[2]}}</textarea>
		<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyCompletedTask{{line[0]}}()"></img></a>
		
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Completed Tasks Modal --!>



<!-- Check Ins Modal --!>
<div class="modal fade" id="modalCheckIns" tabindex="-1" role="dialog" aria-labelledby="modalCheckIns" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCheckInsTitle">Check In Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-dark table-striped table-bordered table-sm p-0 m-0">
                        <thead>
                        <tr>
                                <th scope="col">Check In Time</th>
                                <th scope="col">Gateway</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in checkIns %}
                            <tr>
                                <td>{{line[3]}}</td>
                                <td>{{line[2]}}</td>
                           </tr>
                        {% endfor %}


                        </tbody>
                        </table>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- End Check Ins Modal --!>

<div class="modal fade" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="modalAddTask" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddTaskTitle">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="/addTask">
        <div class="form-group">
        <textarea class="form-control" name="task" placeholder="Enter task to run" rows="10"required></textarea></br>
        <input type="text" class="form-control" name="notes" placeholder="Enter task notes" required></input>
	<input type="hidden" class="form-control" name="UUID" required value={{implantDetails[0][0]}}></input></br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit Task</button>
	</form>
      </div>
    </div>
</div>
</div>
<!-- END Add Task --!>


<!-- Begin change time --!>
<div class="modal fade" id="modalChangeTime" tabindex="-1" role="dialog" aria-labelledby="modalChangeTime" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChangeTimeTitle">Change Callback Interval</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form method="POST" action="/changeTime">
    
    <select class="form-control" name="interval" id="interval" required/>
        <option value="5">4 hours</option>
        <option value="4">1 Hour</option>
        <option value="3">30 Minutes</option>
        <option value="2">15 Minutes</option>
        <option value="1">1 minute</option>
        <option value="0">15 Seconds</option>
    </select>
    <input type="hidden" class="form-control" name="UUID" required value={{implantDetails[0][0]}}></input></br>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit Task</button>
        </form>
      </div>
</div>
</div>
</div>
<!-- End Change Time Modal --!>

<!-- Begin Survey --!>
<div class="modal fade" id="modalSurvey" tabindex="-1" role="dialog" aria-labelledby="modalSurvey" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSurveyTitle">Task Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <p class="h3">Choose optional survey items</p>
    <form method="POST" action="/taskSurvey">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="dirs" name="dirs"></input>
        <label class="form-check-label" for="dirs">
          Get Directory Listings
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="firewall" name="firewall"></input>
        <label class="form-check-label" for="firewall">
          Get Firewall Profiles and NETSH
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="mppref" name="mppref"></input>
        <label class="form-check-label" for="mppref">
          Get-MpPreference
        </label>
      </div>
    </br> 
    
    <input type="text" class="form-control" name="notes" required placeholder="Enter Survey Note"></input></br>
    <input type="hidden" class="form-control" name="UUID" required value={{implantDetails[0][0]}}></input></br>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit Task</button>
        </form>
      </div>
</div>
</div>
</div>
<!-- End Survey Modal --!>


<!-- Survey Data Modal -->
{% for line in surveyData %}

<div class="modal fade" id="PlaceholdsurveyModal{{line[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Survey Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <textarea class="form-control" rows="10">{{line[4]}}</textarea>
                <a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyTask{{line[0]}}()"></img></a>

      </div>
      <div class="modal-footer">
        <form method="post" action="/deleteTask">
        <input type="hidden" name="taskID" value={{line[0]}} required></input>
        <button type="submit" class="btn btn-danger">Delete Task</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Survey Data --!>


</div>


<!-- Start Edit Implant Modal --!>
<script>
function unlockSettings() {
  if (document.getElementById("updateSettings").checked) {
    disableForm(false);
  }
  if (!document.getElementById("updateSettings").checked) {
    disableForm(true);
  }

}

function disableForm(flag) {
  var elements = document.getElementsByClassName("updateSettings");
  for (var i = 0, len = elements.length; i < len; ++i) {
    elements[i].readOnly = flag;
    elements[i].disabled = flag;
  }
}


</script>


<div class="modal fade" id="modalEditImplant" tabindex="-1" role="dialog" aria-labelledby="modalEditImplant" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditImplantLabel">{{implantDetails[0][0]}} Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form method="post" action="/updateSettings">
<input class="form-control" type="hidden" value="{{implantDetails[0][0]}}" name="UUID" readonly></input>
<input class="form-control" type="hidden" value="{{implantDetails[0][1]}}" name="key" readonly></input>
<div class="form-group">
	<label for="updatenotes">Update Notes</label>
        <input type="text" class="form-control" id="updateNotes" value="{{implantDetails[0][2]}}" name="updateNotes"></input>
</div>
</br>
<hr class="mt-3 mb-2"/>
</br>
<form>
<div class="form-check">
<input class="form-check-input" type="checkbox" value='' id="updateSettings" name="updateSettings" onclick="unlockSettings()"></input>
<label class="form-check-label" for="updateC2">Update Settings</label>
</div>

<div class="form-group mt-3">
	<label for="updateC2" >Callback Address</label>
	<select class="form-control updateSettings" name="updateC2" id="updateC2" readonly disabled>
		<option selected="selected" value="{{implantDetails[0][3]}}">{{implantDetails[0][3]}} (Current)</option>
    {% for option in C2List %}
		<option value="{{option[1]}}">{{option[0]}} ({{option[1]}})</option>

   {% endfor %}
	</select></br>
	<label for="updateFilter">WMI Filter</label>
	<input class="form-control updateSettings" type="text" value="{{implantDetails[0][4]}}" name="updateFilter" id="updateFilter" readonly></input></br>
	<label for="updateConsumer">WMI Consumer</label>
	<input class="form-control updateSettings" type="text" value="{{implantDetails[0][5]}}" name="updateConsumer" id="updateConsumer" readonly></input>
        <label for="updateInterval">Interval After Update</label>
        <select class="form-control updateSettings" name="interval" id="interval" readonly disabled>
                <option value="5">4 hours</option>
                <option value="4" selected="selected">1 Hour</option>
                <option value="3">30 Minutes</option>
                <option value="2">15 Minutes</option>
                <option value="1">1 minute</option>
                <option value="0">15 Seconds</option></select>
</div>
        </br><button type="submit" class=" btn btn-primary float-right">Update Settings</button>
</form>
<br><br><br>
<hr class="mt-3 mb-2"/>
<label for="installLines">Install Lines</label>
<select class="form-control updateSettings" id="installChooser" onchange="updateTextarea(this.value)">
        <option value="{{installLines[5]}}">4 hours</option>
        <option value="{{installLines[4]}}" selected="selected">1 Hour</option>
        <option value="{{installLines[3]}}">30 Minutes</option>
        <option value="{{installLines[2]}}">15 Minutes</option>
        <option value="{{installLines[1]}}">1 minute</option>
        <option value="{{installLines[0]}}">15 Seconds</option>
        <option value="{{installLines[6]}}">Uninstall</option>
</select>

<script>
function updateTextarea(value) {
    document.getElementById('installLines').value = value;
}
</script>

<br>
<textarea class="form-control" rows="10" id="installLines">Choose a beacon interval.</textarea>
<a href="#" class="tooltip-test" title="Copy Text"><img src="/static/images/copy.svg" class="rounded float-right" width="40" height="40" onclick="copyInstallLines()"></img></a>
      

</div>
<br><br>
      <div class="modal-footer">
     </div>
    </div>
  </div>
</div>

<script>
function copyInstallLines() {
  // Get the text field
  var copyText = document.getElementById("installLines");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Text copied to clipboard");
}
</script>  



<!-- End Edit Implant Modal --!>
</body>



</html>

