<!doctype html>




<head>
<link rel="stylesheet" href="/static/css/style.css">

<html lang="en">


<script src="/static/js/socket.io.min.js"></script>
<script>
function copyTextBox(textBox) {
  // Get the text field
  var copyText = document.getElementById(textBox);

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Text copied to clipboard");
}

function filterLogs() {
    var filter = document.getElementById('logFilter').value.toLowerCase().trim();
    var logs = document.querySelectorAll('#logContainer .log-entry');
    logs.forEach(function(log) {
        var text = log.textContent.toLowerCase();
        
        log.style.display = text.includes(filter) ? '' : 'none';
    });
}
var BROKER_HOST = "{{ broker_host }}";
var socket = io(BROKER_HOST); // Use the relay app's address
socket.on('log_update', function(msg) {
    updateLogs(); // Only update when notified
});

function updateLogs() {
    fetch('/fragment_logs')
        .then(response => response.text())
        .then(html => {
            document.getElementById('logContainer').innerHTML = html;
            filterLogs(); // Re-apply filter after update
        });
}

//setInterval(updateLogs, 5000); // Update every 5 seconds
// Optionally, call once on page load
document.addEventListener('DOMContentLoaded', updateLogs);
</script>  

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <title>PowerBeacon</title>
  </head>


<body style="background-color: #573866">
<!--Navbar Start-->
<div class="container">

<nav class="navbar navbar-dark dark-purple">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
	<span class="navbar-text h2">PowerBeacon</span>
	<a class="navbar-brand" href="/implants"><img src="/static/images/logo_black_nobg.png" width="100" height="100" class="d-inline-block align-center" alt="">
	
	</a>
   
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/selectImplant">Implant Selection<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listeningPosts">Listening Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tools">Tools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs">Logs</a>
      </li>
    </ul>
 
 
  
	
  </div>
</nav>
</div>
<!-- Navbar end-->



<!--Start of Container-->
<p>
<div class="container">

<!-- Flashes and Errors -->
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{error}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}



{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



               {% endfor %}  
         {% endif %}  
{% endwith %}  
<!-- End Flashes and Errors -->

<!-- Auto Close Alerts Script 
<script>
$(document).ready(function() {
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);
});
</script>

<!-- I'm not sure I like the auto close -->


<input type="text" id="logFilter" placeholder="Filter logs..." onkeyup="filterLogs()">


<div class="console-log" id="logContainer">
    {% for log in logs %}
        {% set log_class = 'log-entry' %}
        {% if log[1] == 'Warning' %}
            {% set log_class = 'log-entry warning' %}
        {% elif log[1] == 'Error' %}
            {% set log_class = 'log-entry error' %}
        {% elif log[1] == 'Success' %}
            {% set log_class = 'log-entry success' %}
        {% endif %}
        <div class="{{ log_class }}">{{ log[2] }}</div>
    {% endfor %}
</div>




<footer class="footer dark-purple">
  <span class="text-muted float-right">github.com/ninjakilpirate&nbsp&nbsp</span>
</footer>








</body>

</html>

