  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCheckInsTitle">Check In Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <table class="table table-dark table-striped table-bordered table-sm p-0 m-0" style="font-family: monospace;">
      <thead>
        <tr>
          <th scope="col" class="text-left">Check In Time</th>
          <th scope="col" class="text-left">Gateway</th>
        </tr>
      </thead>
      <tbody>
        {% for callback in callbacks %}
        <tr>
          <td class="text-left">{{callback.time}}</td>
          <td class="text-left">{{callback.gateway}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>